.home-container {

  .search-container {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 4rem;

    div {
      width: 100%;
      margin-right: 1rem;

      span {
        color: #c53030;
      }
    }

    input {
      height: 70px;
      border: 0;
      border-radius: 6px;
      width: 100%;
      padding: 1rem;
      font-size: 1rem;
      margin-bottom: 6px;
    }

    button {
      height: 70px;
      border: 0;
      border-radius: 6px;
      color: #FFFFFF;
      background-color: #04D361;
      width: 30%;
      font-weight: 600;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .user-container {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      border: 2px solid #F6f6f6;
      opacity: 0.9;
    }

    & + .user-container {
      margin-top: 1rem;
    }

    img {
      height: 64px;
      width: 64px;
      border-radius: 50%;
    }

    p {
      font-size: 18px;
      font-weight: 600;
      margin-left: 1rem;
    }
  }
}